<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="serveur web du projet 'Paysage de Propagation'">
    <meta name="author" content="reso-nance.org">
<!-- TODO 
    <link rel="icon" href="../../static/favicon.png">
-->
    <!-- Bootstrap CSS -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/custom.css">
    
    <title>Paysage de propagation</title>
    
  </head>
  <body>
    <div class="jumbotron">

      <h1>Beta</h1>
      <div class="row"></div>
        <div class="btn-group">
          <button type="button" data-id="1" class="btn btn-lg btn-primary window">fenêtre 1</button>
          <button type="button" data-id="2" class="btn btn-lg btn-primary window">fenêtre 2</button>
          <button type="button" data-id="3" class="btn btn-lg btn-primary window">fenêtre 3</button>
          <button type="button" data-id="4" class="btn btn-lg btn-primary window">fenêtre 4</button>
        </div> 
      </div>
      <div class="row">
        <div class="btn-group">
          <button type="button" data-id="5" class="btn btn-lg btn-primary window">fenêtre 5</button>
          <button type="button" data-id="6" class="btn btn-primary window">fenêtre 6</button>
          <button type="button" data-id="7" class="btn btn-primary window">fenêtre 7</button>
          <button type="button" data-id="8" class="btn btn-primary window">fenêtre 8</button>
        </div> 
      </div>
      <div class="btn-group">
        <button type="button" id="rec" class="btn btn-lg btn-danger">rec</button>
        <button type="button" id="play" class="btn btn-success">play</button>
      </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type= "text/javascript" src="../static/js/index.js"></script>


  </body>
</html>