<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="serveur web du projet OLO">
    <meta name="author" content="reso-nance.org">
<!-- TODO 
    <link rel="icon" href="../../static/favicon.png">
-->
    <!-- Bootstrap CSS -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <!-- <script>
      // jQuery extension disabling selection to avoid longpress issues on mobile
      $.fn.extend({ 
          disableSelection: function() { 
              this.each(function() { 
                  if (typeof this.onselectstart != 'undefined') {
                      this.onselectstart = function() { return false; };
                  } else if (typeof this.style.MozUserSelect != 'undefined') {
                      this.style.MozUserSelect = 'none';
                  } else {
                      this.onmousedown = function() { return false; };
                  }
              }); 
          } 
      });

      $(document).ready(function() {
          $('*').disableSelection();            
      });
  </script> -->
  <script src="../static/js/bootstrap.min.js"></script>  
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/socket.io.min.js"></script>
  <script src="../static/js/Tone.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/custom.css">
    
    <title>bergen.olo</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <h2 class="text-center mt-5">OLO</h2>
      <p class="text-center">alpha</p>
      <div class="row">
        <div class="col-3 window unselectable text-center align-middle" data-id="0">1 </div>
        <div class="col-3 window unselectable text-center align-middle" data-id="1">2 </div>
        <div class="col-3 window unselectable text-center align-middle" data-id="2">3 </div>
        <div class="col-3 window unselectable text-center align-middle" data-id="3">4 </div>
      </div> 
      <div class="row">
        <div class="col-3 window unselectable text-center align-middle" data-id="4">5 </div>
        <div class="col-3 window unselectable text-center align-middle" data-id="5">6 </div>
        <div class="col-3 window unselectable text-center align-middle" data-id="6">7 </div>
        <div class="col-3 window unselectable text-center align-middle" data-id="7">8 </div>
    </div>

    <div class="container mt-3">
      <div class="d-flex justify-content-around mb-3">
        <button type="button" id="rec" class="btn btn-lg btn-danger">startRec</button>
        <button type="button" id="play" class="btn btn-success">play</button>
        <button type="button" id="remove" class="btn btn-success">remove</button>
        <button type="button" id="clear" class="btn btn-success">clear</button>
      </div>
    </div>

    <!-- <audio id="audio0" loop src="../static/audio/1.wav" type="audio/wav" preload="auto"></audio>
    <audio id="audio1" loop src="../static/audio/2.wav" type="audio/wav" preload="auto"></audio>
    <audio id="audio2" loop src="../static/audio/3.wav" type="audio/wav" preload="auto"></audio>
    <audio id="audio3" loop src="../static/audio/4.wav" type="audio/wav" preload="auto"></audio>
    <audio id="audio4" loop src="../static/audio/5.wav" type="audio/wav" preload="auto"></audio>
    <audio id="audio5" loop src="../static/audio/6.wav" type="audio/wav" preload="auto"></audio>
    <audio id="audio6" loop src="../static/audio/7.wav" type="audio/wav" preload="auto"></audio>
    <audio id="audio7" loop src="../static/audio/8.wav" type="audio/wav" preload="auto"></audio> -->
    <script type= "text/javascript" src="../static/js/index.js"></script>


  </body>
</html>